.projects-container {
  min-height: 159em;
}

.cta-container {
  text-align: center;
  padding: 0 2em;
  padding-bottom: 8em;

  .title {
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
    color: black;
  }

  .button {
    font-size: 1.3em;
    font-weight: 500;
    background: var(--accent-color);
    padding: .5em 1.2em;
    border-radius: 23px;
    cursor: pointer;
  }

  .button:active {
    background: #ddd06d;
  }
}

@media only screen and (min-width: 800px) {
  .projects-container {
    min-height: 115em;
  }
}

@media only screen and (min-width: 1050px) {
  .projects-container {
    min-height: 115em;
  }
}

@media only screen and (min-width: 1250px) {

  .cta-container {
    padding-bottom: 10em;
  }

}

@media only screen and (min-width: 1550px) {

  .cta-container {
    padding-bottom: 12em;
    padding-top: 2em;
  }

}

@media only screen and (min-width: 2100px) {

  .cta-container {
    padding-bottom: 15em;
    padding-top: 3em;
  }

}